name: Docker Image CI

on: [push]

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build image
      run: |
        docker build . --file Dockerfile --tag image-1
        docker build . --file Dockerfile.2 --tag image-2
    - name: Docker login
      run: docker login --username gregorigoss --password ${{ secrets.dockerhub_access_token }}         
    - name: Push image
      run: |
        DOCKER_TAG=latest
        echo REF: ${{ github.ref }}
        if [[ ${{ github.ref }} =~ refs/tags/(.+) ]]
        then
           # tag is pushed
           DOCKER_TAG=${BASH_REMATCH[1]}
        elif [[ ${{ github.ref }} =~ refs/heads/(.+) ]]
        then
           # branch is pushed
           echo "::set-env name=GIT_BRANCH::${BASH_REMATCH[1]}"
           DOCKER_TAG=${BASH_REMATCH[1]}-$(date +%s)
           echo "::set-env name=DOCKER_TAG::${DOCKER_TAG}"
        fi
        echo Pushing origoss/github-actions-demo:${DOCKER_TAG} 
        docker tag image-1 origoss/github-actions-demo:1-${DOCKER_TAG} 
        docker push origoss/github-actions-demo:1-${DOCKER_TAG}
        docker tag image-2 origoss/github-actions-demo:2-${DOCKER_TAG} 
        docker push origoss/github-actions-demo:2-${DOCKER_TAG}
    - uses: actions/checkout@v2
      with:
        repository: origoss/kustomize-to-walls
        token: ${{secrets.github_access_token }}
        path: kustomize-repo
    - name: Downloading kustomize
      run: |
        wget -q https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv3.5.4/kustomize_v3.5.4_linux_amd64.tar.gz
        tar xf kustomize_v3.5.4_linux_amd64.tar.gz
        sudo cp kustomize /usr/local/bin/
    - name: Create a new file
      run: |
        cd kustomize-repo/manifests/overlays
        if [[ -d ${{ env.GIT_BRANCH }} ]]; then
          echo "git overlay for branch exists"
          cd ${{ env.GIT_BRANCH }}
          kustomize edit set image origoss/github-actions-demo=origoss/github-actions-demo:1-${{ env.DOCKER_TAG }}
          kustomize edit set image origoss/github-actions-demo-2=origoss/github-actions-demo:2-${{ env.DOCKER_TAG }}
          git config user.name "CI of github-actions-demo"
          git config user.email "noreply@ci.origoss.com"
          git commit -am "Updating image tag: origoss/github-actions-demo:${{ env.DOCKER_TAG }}"
          git push
        fi
