name: Docker Image CI

on: [push]

jobs:

  push:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build image
      run: docker build . --file Dockerfile --tag image
    - name: Docker login
      run: docker login --username gregorigoss --password ${{ secrets.dockerhub_access_token }}         
    - name: Push image
      run: |
        DOCKER_TAG=latest
        echo REF: ${{ github.ref }}
        if [[ ${{ github.ref }} =~ refs/tags/(.+) ]]
        then
           # tag is pushed
           DOCKER_TAG=${BASH_REMATCH[1]}
        elif [[ ${{ github.ref }} =~ refs/heads/(.+) ]]
        then
           # branch is pushed
           DOCKER_TAG=${BASH_REMATCH[1]}-$(date +%s)
        fi
        echo Pushing origoss/github-actions-demo:${DOCKER_TAG} 
        docker tag image origoss/github-actions-demo:${DOCKER_TAG} 
        docker push origoss/github-actions-demo:${DOCKER_TAG}
